In [56]:
d={
    'Example':['Green','Green','Brown','Orange','Green','Green','Orange'],
    'Toughness':['Hard','Hard','Soft','Hard','Soft','Hard','Hard'],
    'Fungus':['No','Yes','No','No','Yes','Yes','No'],
    'Appearence':['Wrinkled','Smooth','Wrinkled','Wrinkled','Smooth','Wrinkled','Wrinkled'],
    'Poisonous':['Yes','No','No','Yes','Yes','Yes','Yes']
}

In [2]:
import pandas as pd
import numpy as np

In [57]:
data = pd.DataFrame(d)
data

  Example Toughness Fungus Appearence Poisonous
0   Green      Hard     No   Wrinkled       Yes
1   Green      Hard    Yes     Smooth        No
2   Brown      Soft     No   Wrinkled        No
3  Orange      Hard     No   Wrinkled       Yes
4   Green      Soft    Yes     Smooth       Yes
5   Green      Hard    Yes   Wrinkled       Yes
6  Orange      Hard     No   Wrinkled       Yes

In [58]:
d1 = data[data['Poisonous']=='Yes']
d1

  Example Toughness Fungus Appearence Poisonous
0   Green      Hard     No   Wrinkled       Yes
3  Orange      Hard     No   Wrinkled       Yes
4   Green      Soft    Yes     Smooth       Yes
5   Green      Hard    Yes   Wrinkled       Yes
6  Orange      Hard     No   Wrinkled       Yes

In [59]:
s = [None for j in d1][:-1]
for i in d1.index:
    s1 = []
    for j in d1:
        s1.append(d1[j][i])
    for i in range(len(s)):
        if s[i] == None:
            s[i] = s1[i]
        elif s[i] != s1[i]:
            s[i] = '?'
print(s)

['?', '?', '?', '?']